.sec{
    height: 100vh;
    width:100%;
    margin-top:-83px;
    background-image:url('https://assets.nflxext.com/ffe/siteui/vlv3/c38a2d52-138e-48a3-ab68-36787ece46b3/eeb03fc9-99c6-438e-824d-32917ce55783/IN-en-20240101-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-size: cover;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
}
.sec2{
    height: 100vh;
    width:100%;
    position: relative;
    top: -100vh;
    background: rgb(255,255,255);
    background: radial-gradient(circle, transparent 0%, rgba(0,0,0,1) 78%);
    opacity: .8;
    z-index: 1;
}
.mainbox{
    height: auto;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction:column;
    color: white;
    position: relative;
    top: 50px;
    z-index: 2;
}
#p1{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}
#p2{
    font-size: 28px;
    font-weight: 500;
    margin: 0 0 20px 0;
}
#p3{
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

#in{
    height: 60px;
    width: 350px;
    font-size: large;
    padding-left: 25px ;
    color: white;
    background-color: black;
    opacity: 0.8;
    border: 1px solid white;
    border-radius: 4px;
}
input{
    width: 300px;
    font-size: large;
    margin: 20px 0 0 -10px;
    color: white;
    background-color: transparent;
    border: none;
    
}
button{
    font-size: 25px;
    font-weight: 500;
    color: white;
    background-color: rgb(227, 19, 19);
    padding: 12px 25px 12px 25px;
    border: none;
    border-radius: 4px;
}
@media (min-width:100px) and (max-width:600px) {
    .mainbox{
        width: 90%;
    }
    #p1{
        font-size: 25px;
    }
    #p2{
        font-size: 18px;
    }
    #p3{
        font-size: 16px;
    }
    #in{
        height: 60px;
        width: 250px;
    }
    input{
        width: 200px;
        font-size: medium;
    }
    button{
        padding: 10px 20px 10px 25px;
    }
    
}
body::-webkit-scrollbar{
    display: none;
}