.navbar{
    position: sticky;
    top: 0px;
    transition: .5s;
    z-index: 3;
}
.nav{
    color: white;
    height: auto;
    width: 90%;
    margin: auto;
    margin-top: 1px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    
}
.navbox1{
    display: flex;
    justify-content: flex-start;
    margin: 7px 0;
}
.navbox1 img{
    height: 45px;
    cursor: pointer;
}
.navbox1 img:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}
.navbox1 ul{
    display: flex;
    gap: 30px;
}
li{
    font-size: 16px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
li:hover{
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
    transform: scale(1.1);
}

.navbox2{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 21px;
}

@media (min-width:200px) and (max-width:950px) {
    .navbox1 ul{
        display: none
    }
}
@media (min-width:100px) and (max-width:400px) {
    .navbox2{
        font-size: 16px;
        gap: 10px;
        
    }
    .navbox1 img{
        height: 40px;
    }
}